{
    "id": "swiftsuspenders",
    "name": "swiftsuspenders",
    "url": "https://github.com/robotlegs/swiftsuspenders",
    "docUrl": "https://github.com/robotlegs/swiftsuspenders",
    "description": "Swiftsuspenders",
    "type": "swc",
    "version": "@VERSION@",
    "sourceUrl": "https://github.com/@GITHUB_REPO@/releases/download/@VERSION@/swiftsuspenders_@VERSION@.airpackage",
  	"publishedAt": "@DATE@T@TIME@Z",
    "dependencies": [
	],
    "parameters": [],
    "tags": [],
    "purchaseUrl": "",
    "status": "release",
    "license": {
        "url": "https://github.com/robotlegs/swiftsuspenders/blob/master/LICENSE",
        "type": "MIT",
        "public": true
    }
}
